@media (max-height:675px) {
  .fpassgirlvector{
    height:144px !important;
  }
}

@media (max-height:568px) {
  .fpassgirlvector{
    height:120px !important;
  }
}
    



@media (max-width: 767px) {
    .fpasstopdiv {
      display:block !important;
      background-color: #ffffff !important;
    }
    .fpassgirlvector{
      display: block !important;
    }
    .fpassleftchildcontent{
      display: none !important;
    }
    .fpassleftchild{
      padding-top: 30px !important;
    }
    .fpassleftcontainer{
      height: auto !important;
      width :100% !important;
      border-bottom-left-radius: 20px !important;
      border-top-right-radius: 0px !important;
    }
    .fpassleftlogo{
      height: 70px !important;
    }
    .fpassrightcontainer{
      width :100% !important;
    }
    .fpassrightchild{
      padding-top: 30px !important;
    }
    .fpassrightchildcontent{
      display: none !important;
    }
    .fpassrightchildsmallcontent{
      display: block !important;
    }
    .fpassforgotpass{
      display: none !important;
    }
    .fpasssmallforgotpass{
      display: block !important;
    }
    .fpassemail{
      width: 78% !important;
    }
    .fpasspassword{
      width: 78% !important;
    }
    .fpassterms{
      display: none !important;
    }
    .fpasspasswordinstr{
      font-size: 11px;
      color: rgb(201, 227, 225);
      margin-top: -15px;
      width: 70%;
      margin-left: 65px;
      text-align: left;
      margin-bottom: 30px;
    }
    .fpassinstr{
      display: none !important;
    }
  }
  
  .fpassrightcontainer {
      /* position: relative; */
      text-align: center;
      color: white;
      width:50%;
    }
  .fpassrightchild {
    text-align: center;
      padding-top:150px;
      /* position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
    }
  
    .fpassleftcontainer{
      color: white;
      height: 100vh;
      display: block;
      background-color: #429f97;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      width:50%;
    }
    .fpassrightcontainer {
      /* position: relative; */
      text-align: center;
      color: white;
      width:50%;
    }
    .fpassrightchild {
      text-align: center;
      padding-top:270px;
      /* position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:auto; */
    }
  .fpassleftchild{
    text-align: center;
    padding-top:380px;
    /* width: auto;  */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 15px; */
    /* position: absolute;
    left: 33%;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%); */
    }
  .fpassleftlogo{
    height: 140px; width: 100%; 
    }
    .fpasstopdiv{
      display:flex;
      width:100%;
      background-color: #fffff0;
    }
    .fpassgirlvector{
      height: 233px;
      width: 100%;
      display: none;
    }
    .fpassrightchildsmallcontent{
      display: none;
    }
    .fpasssmallforgotpass{
      /* margin-right: 32px; */
      margin-top: -12px;
      /* margin-left: 32px; */
      display:none;
    }
    .fpassemail{
      width: 345px;
    }
    /* .fpasspassword{
      width: 345px;
    } */
    /* .fpasspasswordinstr{
      font-size: 11px;
      color: rgb(201, 227, 225);
      margin-top: -15px; */
      /* width: 70%;
      margin-left: 65px;
      text-align: left;
      margin-bottom: 30px; */
    /* } */