@media (max-height:675px) {
  .rpassgirlvector{
    height:144px !important;
  }
}

@media (max-height:568px) {
  .rpassgirlvector{
    height:120px !important;
  }
}
    



@media  (min-width: 465px) and (max-width: 767px) {
  .rpasspasswordinstr{    
    text-align: center !important;
    width:85% !important;
    margin-left: 37px !important;
  }
}

@media (max-width: 767px) {
    .rpasstopdiv {
      display:block !important;
      background-color: #ffffff !important;
    }
    .rpassgirlvector{
      display: block !important;
    }
    .rpassleftchildcontent{
      display: none !important;
    }
    .rpassleftchild{
      padding-top: 30px !important;
    }
    .rpassleftcontainer{
      height: auto !important;
      width :100% !important;
      border-bottom-left-radius: 20px !important;
      border-top-right-radius: 0px !important;
    }
    .rpassleftlogo{
      height: 70px !important;
    }
    .rpassrightcontainer{
      width :100% !important;
    }
    .rpassrightchild{
      padding-top: 30px !important;
    }
    .rpassrightchildcontent{
      display: none !important;
    }
    .rpassrightchildsmallcontent{
      display: block !important;
    }
    .rpassforgotpass{
      display: none !important;
    }
    .rpasssmallforgotpass{
      display: block !important;
    }
    .rpassemail{
      width: 78% !important;
    }
    .rpasspassword{
      width: 78% !important;
      margin-top: -12px !important;
      margin-bottom: -5px !important;
    }
    .rpassterms{
      display: none !important;
    }
    .rpasspasswordinstr{
      font-size: 11px;
      color: rgb(201, 227, 225);
      margin-top: -15px;
      width: 70%;
      margin-left: 48px;
      text-align: left;
      margin-bottom: 30px;
    }
    .rpassinstr{
      display: none !important;
    }
  }
  
  .rpassrightcontainer {
      /* position: relative; */
      text-align: center;
      color: white;
      width:50%;
    }
  .rpassrightchild {
    text-align: center;
      padding-top:150px;
      /* position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
    }
  
    .rpassleftcontainer{
      color: white;
      height: 100vh;
      display: block;
      background-color: #429f97;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      width:50%;
    }
    .rpassrightcontainer {
      /* position: relative; */
      text-align: center;
      color: white;
      width:50%;
    }
    .rpassrightchild {
      text-align: center;
      padding-top:270px;
      /* position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:auto; */
    }
  .rpassleftchild{
    text-align: center;
    padding-top:380px;
    /* width: auto;  */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 15px; */
    /* position: absolute;
    left: 33%;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%); */
    }
  .rpassleftlogo{
    height: 140px; width: 100%; 
    }
    .rpasstopdiv{
      display:flex;
      width:100%;
      background-color: #fffff0;
    }
    .rpassgirlvector{
      height: 233px;
      width: 100%;
      display: none;
    }
    .rpassrightchildsmallcontent{
      display: none;
    }
    .rpasssmallforgotpass{
      margin-right: 32px;
      margin-top: -12px;
      margin-left: 32px;
      display:none;
    }
    .rpassemail{
      width: 345px;
    }
    .rpasspassword{
      width: 345px;
      margin-top: 7px;
      margin-bottom: 10px;
    }
    .rpasspasswordinstr{
      font-size: 11px;
      color: #429F97;
      margin-top: -12px;
      /* width: 70%;
      margin-left: 65px;
      text-align: left;
      margin-bottom: 30px; */
    }